* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111;
  color: white;
}

/*Header*/
header {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px 0px 40px;
  z-index: 2;
  background-image: linear-gradient(
    rgb(0, 0, 0),
    rgba(0, 0, 0, 0.322),
    rgba(0, 0, 0, 0)
  );
}
header .netflix-logo img {
  max-width: 115px;
}
.navigation-list {
  display: flex;
}
.navigation-list li {
  list-style: none;
  margin: 0 10px;
}
.navigation-list li {
  color: white;
  letter-spacing: 0.5px;
  font-weight: bold;
  cursor: default;
}
.navigation-list li a {
  color: white;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-weight: 300;
}
.navigation-list li:hover a {
  color: rgb(177, 170, 170);
  transition: 0.5s;
}
.search {
  position: relative;
  width: 250px;
  height: 32px;
}
.search input {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.616);
  border: 1px solid white;
  outline: none;
  padding: 0px 10px 0px 45px;
}
.search input::placeholder {
  color: rgb(177, 170, 170);
}
.search .fa-search {
  position: absolute;
  top: 30%;
  left: 15px;
  transform: rotateY(-50%);
  padding-right: 10px;
  color: white;
}

/*Banner*/
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.3rem;
}
.content {
  position: relative;
  max-width: 30vw;
  color: white;
  font-weight: 400;
  font-size: 1.2vw;
  text-shadow: 2px 2px 4px #0000004d;
  cursor: default;
}
.movie_Poster {
  max-width: 30vw;
}

/*Buttons*/
.banner_buttons {
  margin-top: 5rem;
  padding-left: 10px;
}


/*Change
.button {
    font-size: 1.5vw;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    margin-right:0.5px;
    cursor: pointer;
    background-color: aqua;
  }*/

.banner_buttons:active {
  border: 2px solid white;
}
.banner_buttons a {
  color: black;
  text-decoration: none;
}
.buttonplay {
  width: 10vw;
  height: 4vw;
  background-color: white;
}

.buttonplay:hover {
  filter: opacity(70%);
}

.buttoninfo {
  width: 14vw;
  height: 4vw;
  background-color: rgba(109, 109, 110, 0.7);
  color: white;
}

.buttoninfo:hover {
  filter: opacity(50%);
}

/* Movie grid */
#main_content-grid {
  padding: 0px 20px 0px 20px;
}
.container-heading {
  font-size: 2vw;
  font-weight: 700;
  padding-left: 9px;
}

.container {
  display: flex;
  margin-bottom: 5px;
}

.box_hover_display {
  float: center;
}

/*Changed*/
.add_button {
  color: white;
  border: none;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  align-items: right;
  background-color: rgb(143, 13, 13);
  border-radius: 50%;
  font-size: 0.8rem;
  top: 50%;
  left: 1000%;
}

.box_hover_display:after {
  display: block;
  padding-top: 50%;
}

/* footer */
#myFooter {
  display: flex;
  justify-content: space-around;
  margin: 5px auto;
  margin-bottom: 20px;
  margin-top: 5px;
  border-top: 0.5px solid rgb(168, 39, 39);
  padding-top: 50px;
  max-width: 60vw;
}

/*Images*/
.all_img {
  float: center;
  width: 155px;
  height: 150px;
  background-size: cover;
  border-radius: 25px;
  padding-left: 10px;
}

.all_img:hover {
  width: 170px;
  height: 170px;
}

/*Watchlist*/

.watchlist-heading{
  margin-top: 5rem;
  padding: 15px;
  font-size: 2rem;
}
