* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111;
  color: white;
}

h1{
  text-align: center;
  font-size: 2rem;
}

/*Header*/
header {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px 0px 40px;
  z-index: 2;
  margin-top: 5px;
}
header .netflix-logo img {
  max-width: 120px;
  margin-bottom: 18px;
}
.navigation-list {
  display: flex;
  width: 100vw;
}

.navigation-list li {
  list-style: none;
  margin: 0 20px;
  color: white;
  letter-spacing: 0.5px;
  font-weight: bold;
  cursor: default;
  font-size: 20px;
}

.navigation-list li a {
  color: white;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-weight: 300;
}
.navigation-list li:hover a {
  color: rgb(177, 170, 170);
  transition: 0.5s;
}
.search {
  position: relative;
  width: 250px;
  height: 32px;
  margin-bottom: 20px;
}
.search input {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.616);
  border: 1px solid white;
  outline: none;
  padding: 0px 10px 0px 45px;
}
.search input::placeholder {
  color: rgb(177, 170, 170);
}
.search .fa-search {
  position: absolute;
  top: 20%;
  left: 10px;
  transform: rotateY(-50%);
  padding-right: 5px;
  color: white;
  font-size: 20px;
}

/*Banner*/
.banner{
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 65px;
  margin-bottom: 5px;
  margin-left: 2rem;
}

@media screen and (min-width:1100px){
.banner {
  width: 100%;
}
}

.banner_img{
  margin-top: 45px;
  padding-left: 5px;
  border-radius: 15px;
  opacity: 80%;
  width: 60vw;
  height: 50vh;
  padding-right: 10px;
  background-size: cover;
}

.info{
  display: flex;
  row-gap: 5px;
  justify-content: 5px;
  margin: 0%;
  padding: 0%;
}

.details{
  margin-top: 50px;
}

.movie_detail{
  text-align: center;
  margin: auto;
  border: 1px rgba(255, 0, 0, 0.322) solid;
  padding: 5px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.movieName{
  font-size: 2rem;
  margin-top: 50px;
  text-align: center;
}

.description{
  margin-top: 5rem;
}

/* Movie grid */
.container-heading {
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 5px;
}

.container {
  display: flex;
  margin-bottom: 20px;
  margin: 0;
}

.box_hover_display {
  float: center;
  position: relative;
}

/*Changed*/
.add_button {
  position: absolute;
  color: white;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  background-color: rgb(70, 67, 67);
  border-radius: 50%;
  font-size: 1rem;
}


/* footer */
#myFooter {
  flex:1 1 0%;
  max-width: 100vw;
  display: flex;
  justify-content: space-around;
  margin: 5px auto;
  border-top: 0.5px solid rgb(168, 39, 39);
  padding-top: 12px;
  font-size: 15px;
  color: grey;
}

/*Images*/
.all_img {
  float: center;
  width: 100px;
  height: 100px;
  background-size: cover;
  border-radius: 25px;
  padding-left: 1.5px;
}

@media screen and (min-width:710px) {
  .all_img{
  float: center;
  width: 155px;
  height: 150px;
  background-size: cover;
  border-radius: 25px;
  padding-left: 1.5px;
}
}

.all_img:hover {
  width: 165px;
  height: 160px;
}

.movie_name{
  font-size: 12px;
  text-align: center;
}

/*Watchlist*/
.watchlist-heading{
  margin-top: 5rem;
  padding: 15px;
  font-size: 2rem;
}

.watchlist_container{
  position: relative;
  display: flex;
}

.delete_button {
  position: absolute;
  color: white;
  border: none;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  background-color: rgb(36, 36, 36);
  border-radius: 50%;
  font-size: 0.5rem;
}